@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');
body{
    background-image: linear-gradient(to bottom, #C986FF, #3EECFF);
}
.fundo{
    width: 850px;
    height: 5px;
}
.ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    height: 55px;
    margin-top: -8px;
    margin-left: -10px;
    margin-right: -10px;
}
.lupa{
    margin-top: 15px;
    margin-left: 90px;   
    width: 30px;
    height: 30px;
}
#busc{
    border-style: solid;
    border-radius: 20px;
    width: 1000px;
    height: 25px;
    display: flex;
    text-align: start;
    margin-top: 15px;
}
.pc{
    margin-left: 90px;
    width: 65px;
    height: 55px;
}
.barra{
    margin-top: 5px;
    margin-left: 10px;
    width: 90px;
    height: 50px;
}
.pb{
    margin-left: 50px;
    width: 180px;
    height: 150px;
}
.text{
    font-family: Milonga;
    font-size: 50px;
}
.container{
    display: flex;
    flex-direction: row;
    gap: 70px;
}
h3{
    color: snow;
    margin-top: -45px;
}
h4{
    color: snow;
    font-size: 20px;
    margin-left: 80px;
}
.column{
    display: flex;
    flex-direction: column;
}
button{
    background-color: #00F0FF;
    border-radius: 30px;
    width: 190px;
    height: 30px;
    margin-top: 40px;
    margin-left: 60px;
}
.botao{
    display: flex;
    flex-direction: row;
    gap: 55px;
}
.lupa2{
    margin-top: 25px;
    margin-left: -30px;
    width: 50px;
    height: 50px;
}
.quadrado, .quadrado4{
    background-color: #00F0FF;
    color: #00F0FF;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    margin-top: -14px;
    margin-left: 60px;
}
#hr{
    border-color: #00F0FF;
    margin-left: 60px;
}
.quadrado2,.quadrado3{
    background-color: #00F0FF;
    color: #00F0FF;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    margin-top: -9px;
    margin-left: 1500px;
}
.divs{
    margin-left: 60px;
    border-radius: 15px;
    background-color: #E4D9FE;
    display: flex;
    flex-direction: row;
    width: 570px;
    height: 190px;
    opacity: 0.7;
}
.container2{
    display: flex;
    flex-direction: row;
    gap: 60px;
}
.sacolas{
    width: 250px;
    height: 250px;
    margin-top: -30px;
    margin-left: -35px;
}
.text2{
    font-family: Milonga;
    font-size: 35px;
}
.divb{
    margin-left: 60px;
    border-radius: 15px;
    background-color: #E4D9FE;
    display: flex;
    flex-direction: row;
    width: 570px;
    height: 190px;
    opacity: 0.7;
}
.bolsa{
    width: 270px;
    height: 270px;
    margin-top: -40px;
    margin-left: -35px;
    margin-right: -25px;
}
.divm{
    margin-top: 35px;
    margin-left: 60px;
    border-radius: 15px;
    background-color: #E4D9FE;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 570px;
    height: 115px;
}
.container3{
    display: flex;
    flex-direction: row;
    gap: 60px;
}
.text3{
    font-family: Milonga;
    font-size: 25px;
    margin-top: 40px;
    
}
.divmb{
    margin-top: 35px;
    margin-left: 60px;
    border-radius: 15px;
    background-color: #E4D9FE;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 570px;
    height: 115px;
}
.text4{
    font-family: Milonga;
    font-size: 25px;
    margin-top: 40px;
    margin-left: 10px;
}
.quadrado3, .quadrado4{
    background-color: #9856FE;
    color:#9856FE ;
}
.hrr{
    border-color: #9856FE;
    margin-left: 60px;
    border-style: solid;
}
#circulo {
    background-image: linear-gradient(to bottom, #CAE137, #83E183);
    border-radius: 50%;
    width: 190px;
    height: 190px;
    margin-top: -50px;
    margin-left: 1150px;
}
#triangulo {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid #C052A3;
    margin-top: -270px;
    margin-left: 1005px;
}
#quadrado {
    background-image: linear-gradient(to bottom,#3BF288, #3ecbe5);
    width: 210px;
    height: 210px;
    margin-top: -170px;
    margin-left: -10px;
}
#circulo2{
    background-image: linear-gradient(to bottom, #C7E7FB, #7799D6);
    border-radius: 50%;
    width: 320px;
    height: 320px;
    margin-top: -295px;
    margin-left: 90px;
}
.container4{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    gap: 255px;
    margin-top: -35px;
    margin-left: 150px;
}