*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

ul{
    display: flex;
    align-items: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: goldenrod;
}
li{
    float: left;
}
.pincel{
    width: 60px;
    right: 60px;
}
.home{
    width: 50px;
    right: 50px;
}
