*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: goldenrod;
}
li{
    float: left;
}
select,option{
    background-color: goldenrod;
    border-style: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:large;
}
.pincel{
    width: 65px;
    right: 65px;
}
.home{
    width: 40px;
    right: 40px;
}
.information{
    width: 35px;
    right: 35px;
}
#busc{
    border: none;
    border-radius: 20px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carrin{
    width: 35px;
    right: 35px;
}


.img{
    margin-top: 10px;
    margin-left: 10px;
    display: inline;
    width: 300px;
    height: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}